

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	  background: url(../images/back.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

















